<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="primary">
            Login
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-error-message *ngIf="form.get('email').touched && form.get('email').errors?.required" message="Email is required"></app-error-message>
          <app-error-message *ngIf="form.get('email').touched && form.get('email').errors?.email" message="Invalid email"></app-error-message>
          
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="form.get('password').touched && form.get('password').errors?.required">Password required</ion-label>

          <ion-button color="dark" fill="clear" [disabled]="!form.get('email').valid" size="full">Forgot password</ion-button>
          <ion-button color="primary" size="full" [disabled]="!form.valid" (click)="login()">
            Login
            <ion-spinner *ngIf="spinner" name="circles" slot="end" size="small"></ion-spinner>
          </ion-button>
          <ion-button color="primary" routerLink="/register" size="full" fill="clear">Register</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
